@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    letter-spacing: 5px;
}

body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

h2{
    font-size: 25px;
}

h3,h4 {
    margin: 5px;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: white;
}

.card{
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    outline: 1px white solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(40,40,40);
}

#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    flex-direction: column;
    width: 500px;
    display: flex;
    margin-bottom: 25px;
}

.socials {
    list-style: none;
}

.socials li{
    display: inline-block;
    margin: 0px 25px;
    font-size: 50px;
}